<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<%= form_with model: @task, local: true do |form| %>
					<% if @task.errors.any? %>
						<p><%= pluralize(@task.errors.count, 'error') %></p>
						<ul>
							<% @task.errors.full_messages.each do |error| %>
								<li>
									<p><%= error %></p>
								</li>
							<% end %>
						</ul>
					<% end %>

					<p>
                        <%= form.label :name %><br>
                        <%= form.text_field :name, placeholder: "Task name?", class: "form-control" %>
                    </p>
                    <p>
                        <%= form.label :description %><br>
                        <%= form.text_area :description, placeholder: "Description", class: "form-control" %>
                    </p>

                    <p id="change-fields">
                        
                    </p>

                    <p>
                        <button role="button" type="button" id="add-change">+</button>
                    </p>
                    <p>
                        <%= form.submit %>
                    </p>
				<% end %>
			</div>
		</div>
	</div>
</body>
</html>